:root {
  --md-admonition-icon--reading: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 2H8a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h11v-2H8a1 1 0 0 1 0-2h11V2Zm-2 14H8a3 3 0 0 0-1 .17V5a1 1 0 0 1 1-1h9v12Z"/></svg>');
}

/* Reading admonition */

.md-typeset .admonition.reading,
.md-typeset details.reading {
  border-color: rgb(126, 87, 194);
}

.md-typeset .reading > .admonition-title,
.md-typeset .reading > summary {
  background-color: rgba(126, 87, 194, 0.14);
}

.md-typeset .reading > .admonition-title::before,
.md-typeset .reading > summary::before {
  background-color: rgb(126, 87, 194);
  -webkit-mask-image: var(--md-admonition-icon--reading);
  mask-image: var(--md-admonition-icon--reading);
}

/* Light mode */

[data-md-color-scheme="default"] .md-typeset .admonition.reading,
[data-md-color-scheme="default"] .md-typeset details.reading {
  color: var(--md-default-fg-color);
  background-color: rgba(126, 87, 194, 0.045);
}

[data-md-color-scheme="default"] .md-typeset .reading > .admonition-title,
[data-md-color-scheme="default"] .md-typeset .reading > summary {
  color: rgb(69, 39, 160);
  background-color: rgba(126, 87, 194, 0.14);
}

/* Dark mode */

[data-md-color-scheme="slate"] .md-typeset .admonition.reading,
[data-md-color-scheme="slate"] .md-typeset details.reading {
  color: var(--md-default-fg-color);
  background-color: rgba(126, 87, 194, 0.10);
}

[data-md-color-scheme="slate"] .md-typeset .reading > .admonition-title,
[data-md-color-scheme="slate"] .md-typeset .reading > summary {
  color: rgb(209, 196, 233);
  background-color: rgba(126, 87, 194, 0.18);
}

[data-md-color-scheme="slate"] .md-typeset .reading p,
[data-md-color-scheme="slate"] .md-typeset .reading li {
  color: var(--md-default-fg-color);
}