:root {
  --md-admonition-icon--risk: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2 1 21h22L12 2zm1 16h-2v-2h2v2zm0-4h-2v-4h2v4z"/></svg>');
}

.md-typeset .admonition.risk,
.md-typeset details.risk {
  border-color: rgb(245, 124, 0);
}

.md-typeset .risk > .admonition-title,
.md-typeset .risk > summary {
  background-color: rgba(245, 124, 0, 0.12);
}

.md-typeset .risk > .admonition-title::before,
.md-typeset .risk > summary::before {
  background-color: rgb(245, 124, 0);
  -webkit-mask-image: var(--md-admonition-icon--risk);
  mask-image: var(--md-admonition-icon--risk);
}
