:root {
  --md-admonition-icon--principle: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m4.14 5.86-2.12 5.66a1 1 0 0 1-.59.59l-5.57 2.03 2.03-5.57a1 1 0 0 1 .59-.59l5.66-2.12M12 11a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1 1 1 0 0 0-1-1Z"/></svg>');
  
  --vslices-principle-color: #7e57c2;
  --vslices-principle-bg: #f3edff;
}
